################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebChatServer/FileContentIndex/8046e6c9-644d-44cb-99f8-23b33d75a8bc.vsidx
/.vs/WebChatServer/FileContentIndex/0a86fcac-810a-40d4-85b8-d9be81fc318a.vsidx
/.vs/WebChatServer/FileContentIndex/c41cb1a6-a509-4172-b2e1-0aa9096e8d30.vsidx
