################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebChatServer/FileContentIndex/a950fded-d70e-4d9c-931a-dc648c16bb9f.vsidx
/.vs/WebChatServer/FileContentIndex/17eecdee-8b53-4046-935f-2ea7cae890f6.vsidx
